[submodule "small_and_useful/hosts"]
	path = small_and_useful/hosts
	url = https://github.com/racaljk/hosts.git
[submodule "small_and_useful/google-hosts"]
	path = small_and_useful/google-hosts
	url = https://github.com/fengixng/google-hosts.git
